/*** custom app css file */
.main {
	position: absolute;
	top: 60px;
	left: 20px;
  width: 450px;
}

.main-admin {
  width: 250px;
}

.main-changepw{
  width: 200px;
}

.welcome {
   position: absolute;
   top: 20px;
   left: 20px;
}

.adjust-width{
  width: 170px;
}

.home{
   position: absolute;
   top :10px;
   left: 5px;
   z-index: 3;
}

.carousel-help {
  width: 760px;
  height: 360px;
}

.form-control{
	width: 170px;
}

.first-column {
  width: 50%;
  float: left;
}

.second-column {
  width: 50%;
  float: right;  
  padding-left: 30px;
}

.btn {    
    font-size: 12px;
    line-height: normal;   
    width: 170px; 
}

.mtext {
	width: 170px; 	
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.reset-password{
  width: 200px;
}
